USE [iwmscl_testwms2]
GO
/****** Object:  StoredProcedure [dbo].[ADM_Direcciones_INGRESO]    Script Date: 20-07-2020 11:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADM_Direcciones_INGRESO]
@ID_Direccion  int,
@ID_Org  numeric,
@ID_Comuna  numeric,
@ID_Pais  numeric,
@Calle  varchar(max),
@Numero  varchar(50),
@Observaciones  varchar(max),
@Direccion_Completa  varchar(max)
AS
SET NOCOUNT ON;
IF @ID_Direccion=0
BEGIN
--- INGRESA NUEVO REGISTRO ---
INSERT INTO Adm_System_Direcciones
(
--ID_Direccion  ,
ID_Org  ,
ID_Comuna  ,
ID_Pais  ,
Calle  ,
Numero  ,
Observaciones  ,
Direccion_Completa  
)
VALUES
(
--@ID_Direccion  ,
@ID_Org  ,
@ID_Comuna  ,
@ID_Pais  ,
@Calle  ,
@Numero  ,
@Observaciones  ,
@Direccion_Completa  
)
---RETORNO IDENTIFICADOR NUEVO USUARIO---
SELECT @@IDENTITY AS  ID  
END
ELSE
BEGIN
---MODIFICA REGISTRO EXISTENTE---
DECLARE @ID_tabla  int
SET   @ID_tabla  =@ID_Direccion

UPDATE Adm_System_Direcciones
SET 
ID_Org  =@ID_Org,
ID_Comuna  =@ID_Comuna,
ID_Pais  =@ID_Pais,
Calle  =@Calle,
Numero  =@Numero,
Observaciones  =@Observaciones,
Direccion_Completa  =@Direccion_Completa
WHERE

ID_Direccion=@ID_tabla

--- RETORNO IDENTIFICADOR NUEVO USUARIO ---
SELECT @@ROWCOUNT FILAS_AFECTADAS


END

GO
