USE [iwmscl_prodwms]
GO
/****** Object:  StoredProcedure [dbo].[INV_PRINT_ENVIODESPACHO]    Script Date: 19-08-2020 16:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INV_PRINT_ENVIODESPACHO]
	-- Add the parameters for the stored procedure here
--DECLARE
	 @NRO_ENTREGA NUMERIC(18, 0)
	,@ID_ORG NUMERIC(18, 0)
	,@ID_DOCU NUMERIC(18, 0)
	,@ID_USRO NUMERIC(18, 0)
	,@FOLIO_GUIADESPACHO_ACTUAL NUMERIC(18, 0)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--SET @NRO_ENTREGA = 26
	--SET @ID_ORG = 17
	--SET @ID_DOCU = 50
	--SET @ID_USRO = 3
	--SET @FOLIO_GUIADESPACHO_ACTUAL = 222010

BEGIN TRAN
BEGIN TRY	
	
	--DECLARE @FOLIO_GUIADESPACHO_ACTUAL NUMERIC(18, 0) = (SELECT Ultimo_Folio FROM Inventario_Tipo_Documentos WHERE Id_Docu = @ID_DOCU);
	
	--UPDATE Inventario_Tipo_Documentos
	--	SET Ultimo_Folio = Ultimo_Folio
	--WHERE Id_Docu = @ID_DOCU;
	
	--SET @FOLIO_GUIADESPACHO_ACTUAL = @FOLIO_GUIADESPACHO_ACTUAL
	
	DECLARE @FECHA_TRANSACCION DATETIME = (SELECT GETDATE());
	
	--OBTENCIÓN NOMBRE DE USUARIO QUE IMPRIME
	DECLARE @NOMBRE_DESPACHADOR VARCHAR(200);
	
	SELECT @NOMBRE_DESPACHADOR = U.NOMBRES + ' ' + U.APELLIDO_PATERNO -- + ' ' + U.APELLIDO_MATERNO
	FROM Adm_System_Usuarios U
	WHERE U.ID_USRO = @ID_USRO AND U.ID_ORG = @ID_ORG
	
	--IF NOT EXISTS(SELECT * FROM Inventario_Cabecera_Documentos WHERE Nro_Entrega = @NRO_ENTREGA AND ID_DOCU = @ID_DOCU AND ID_Org = @ID_ORG AND FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL) BEGIN	
		print 'no existia'
		-- Insert statements for procedure here

		DELETE Inventario_DETALLE_Documentos  	 
		WHERE ID_DOCU = @ID_DOCU AND ID_Org = @ID_ORG AND FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		
		DELETE Inventario_Cabecera_Documentos
		WHERE ID_DOCU = @ID_DOCU AND ID_Org = @ID_ORG AND FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		
		
		INSERT INTO Inventario_Cabecera_Documentos
		SELECT DISTINCT
			 @FOLIO_GUIADESPACHO_ACTUAL FolioDocumento
			,@ID_DOCU IdDocu 
			,@ID_ORG OrganizacionId
			,CABDOC.ID_PROPIETARIO PropietarioId
			,CABDOC.ID_DUEÑO DuenoId
			,CABDOC.ID_DIRECCION Direccion
			,NULL ORDEN_COMPRA_CTE
			,NULL ORDEN_TRABAJO
			,0 ID_PROVEEDOR
			,@FECHA_TRANSACCION FECHA_SOLICITUD
			,NULL FECHA_ENTREGA
			,NULL FECHA_VENCIMIENTO
			,TRX.Nro_Entrega NroEntrega
			,NULL SOLICITUD_MAQUILA
			,NULL NOTA 
			,@FECHA_TRANSACCION FECH_CREACION
			,NULL FECH_ACTUALIZA
			,@ID_USRO ID_USRO_CREA
			,NULL ID_USRO_ACT
			,'S' VIGENCIA
			,NULL ID_ESTADO
			,CABDOC.NOMBRE_DESTINATARIO NombreDestinatario
			,NULL ID_TIPO_CONTACTO
			,CABDOC.RUT_DESTINATARIO
			,CABDOC.ID_CLISUC
		FROM Inventario_Detalle_Trx_Pedidos TRX
			INNER JOIN Inventario_Cabecera_Pedidos PED
				ON TRX.ID_NroPedido = PED.ID_NROPEDIDO AND TRX.ID_Org = PED.ID_ORG
			INNER JOIN Inventario_Cabecera_Documentos CABDOC
				ON PED.FOLIO_DOCUMENTO = CABDOC.FOLIO_DOCUMENTO AND CABDOC.ID_ORG = PED.ID_ORG
			INNER JOIN INVENTARIO_ITEMS PROD
				ON TRX.Cod_Item = PROD.COD_ITEM AND TRX.ID_Org = PROD.ID_ORG
			--INNER JOIN Adm_System_Holding DESTINO
			--	ON CABDOC.ID_DIRECCION = DESTINO.ID_DIRECCION AND CABDOC.ID_ORG = DESTINO.ID_ORG --AND DESTINO.ESPROPIETARIO = 0			
		WHERE TRX.Nro_Entrega = @NRO_ENTREGA
			AND CABDOC.ID_DOCU = 20
			AND TRX.ID_Org = @ID_ORG
		
		
		INSERT INTO Inventario_DETALLE_Documentos 
		SELECT --DISTINCT
			 @FOLIO_GUIADESPACHO_ACTUAL FolioDocumento
			,@ID_DOCU IdDocu
			,TRX.NRO_LINEA Linea
			,PROD.DESCRIPTOR_CORTA Descriptor
			,PROD.COD_ITEM Sku
			,SUM(TRX.CANT_DESPACHO) Cantidad
			,NULL CANTIDAD_PDTE 
			,PROD.PRECIO_COMPRA Precio
			,@ID_ORG ID_ORG 
			,NULL ID_LOTE
		FROM Inventario_Detalle_Trx_Pedidos TRX
			INNER JOIN Inventario_Cabecera_Pedidos PED
				ON TRX.ID_NroPedido = PED.ID_NROPEDIDO AND TRX.ID_Org = PED.ID_ORG
			INNER JOIN Inventario_Cabecera_Documentos CABDOC
				ON PED.FOLIO_DOCUMENTO = CABDOC.FOLIO_DOCUMENTO AND CABDOC.ID_ORG = PED.ID_ORG
			INNER JOIN INVENTARIO_ITEMS PROD
				ON TRX.Cod_Item = PROD.COD_ITEM AND TRX.ID_Org = PROD.ID_ORG
			--INNER JOIN Adm_System_Holding DESTINO
			--	ON CABDOC.ID_DIRECCION = DESTINO.ID_DIRECCION AND CABDOC.ID_ORG = DESTINO.ID_ORG --AND DESTINO.ESPROPIETARIO = 0			
		WHERE TRX.Nro_Entrega = @NRO_ENTREGA
			AND CABDOC.ID_DOCU = 20
			AND TRX.ID_Org = @ID_ORG
			AND TRX.Cant_Despacho>0     ---// SE AGREGA  FILTRO YA QUE NO IMPRIME LA GUIA SI VIENEN CANTIDADES EN CERO , LAS CUALES NO SE DESPACHARAN POR FALTA DE STOCK ... 24-07-2017 A.GHIO //	
		GROUP BY 
			 TRX.NRO_LINEA
			,PROD.DESCRIPTOR_CORTA
			,PROD.COD_ITEM 
			,PROD.PRECIO_COMPRA	
		
		--UPDATE Inventario_Tipo_Documentos
		--	SET Ultimo_Folio = (@FOLIO_GUIADESPACHO_ACTUAL + 1)
		--WHERE Id_Docu = @ID_DOCU;	
		
		COMMIT TRAN
	--END 
	--ELSE BEGIN
--		print 'existia'
--		ROLLBACK
		--SELECT @FOLIO_GUIADESPACHO_ACTUAL = folio_documento FROM Inventario_Cabecera_Documentos WHERE Nro_Entrega = @NRO_ENTREGA
--	END
	
	--OBTENCIÓN DE AUTORIZADORES (DUEÑOS)
	DECLARE 
		@DUENO_NOMBRE VARCHAR(300),
		@LISTA_DUENOS_NOMBRE VARCHAR(MAX),
		@CONT_CURSOR INT
	
	DECLARE CDUENOS CURSOR FOR
	SELECT C.NOMBRES + ' ' + C.APELLIDO_PATERNO DUENO
	FROM Inventario_Cabecera_Documentos DOC
		INNER JOIN Adm_System_Dueños D
			ON DOC.ID_DUEÑO = D.ID_DUEÑO AND DOC.ID_ORG = D.ID_ORG
			INNER JOIN Adm_System_Contactos C
				ON D.ID_CONTACTO = C.ID_CONTACTO AND D.ID_ORG = C.ID_ORG			
	WHERE DOC.NRO_ENTREGA = @NRO_ENTREGA
		AND DOC.ID_DOCU = @ID_DOCU
		AND DOC.FECHA_SOLICITUD >= @FECHA_TRANSACCION	
	
	OPEN CDUENOS
	
	FETCH CDUENOS INTO @DUENO_NOMBRE
	
	SET @CONT_CURSOR = 0	
	WHILE(@@FETCH_STATUS = 0) BEGIN
		SET @CONT_CURSOR = @CONT_CURSOR + 1
		
		IF @CONT_CURSOR = 1 BEGIN
			SET @LISTA_DUENOS_NOMBRE = @DUENO_NOMBRE 
		END 
		ELSE BEGIN
			SET @LISTA_DUENOS_NOMBRE = @LISTA_DUENOS_NOMBRE + '~' + @DUENO_NOMBRE
		END
		
		FETCH CDUENOS INTO @DUENO_NOMBRE
	END
	
	CLOSE CDUENOS
	
	DEALLOCATE CDUENOS
	
	--SELECT @LISTA_DUENOS_NOMBRE
	
	--/* REAL Y CORRECTO
	SELECT 	 
		 @FOLIO_GUIADESPACHO_ACTUAL FolioDocumento --DOC.FOLIO_DOCUMENTO FolioDocumento
		,DOC.ID_PROPIETARIO PropietarioId
		,DOC.ID_DUEÑO DuenoId
		,DOC.ID_DIRECCION DireccionId
		,DIR.CALLE + ' #' + DIR.NUMERO + ', ' + COMUNA.NOMBRE Direccion
		,DOC.Nro_Entrega NroEntrega
		,DOC.NOMBRE_DESTINATARIO NombreDestinatario
		--DETALLE
		,DET.NRO_LINEA Linea
		,DET.DESCRIPTOR Descriptor
		,DET.COD_ITEM Sku
		,CAST(DET.CANTIDAD AS NUMERIC(18, 0)) Cantidad
		,DET.PRECIO Precio
		,DOC.RUT_DESTINATARIO
		,PROVINCIA.NOMBRE PROVINCIA
		,@NOMBRE_DESPACHADOR ResponsableEnvio
		,@LISTA_DUENOS_NOMBRE Dueno		
	FROM Inventario_Cabecera_Documentos DOC
		INNER JOIN Adm_System_Holding DESTINO
			ON DOC.ID_CLISUC = DESTINO.ID_HOLDING AND DOC.ID_ORG = DESTINO.ID_ORG --AND DESTINO.ESPROPIETARIO = 0		
		INNER JOIN Adm_System_Direcciones DIR
			ON DESTINO.Id_Direccion = DIR.ID_DIRECCION
		INNER JOIN Adm_System_Comunas COMUNA
			ON DIR.ID_COMUNA = COMUNA.ID_COMUNA
		INNER JOIN Adm_System_Provincias PROVINCIA
			ON COMUNA.ID_PROVINCIA = PROVINCIA.ID_PROVINCIA	
		INNER JOIN Inventario_DETALLE_Documentos DET
			ON DOC.FOLIO_DOCUMENTO = DET.FOLIO_DOCUMENTO AND DOC.ID_ORG = DET.ID_ORG
			and doc.Id_Docu=det.Id_Docu
	WHERE DOC.NRO_ENTREGA = @NRO_ENTREGA
		AND DOC.ID_DOCU = @ID_DOCU
		AND DOC.FECHA_SOLICITUD >= @FECHA_TRANSACCION
	ORDER BY DET.NRO_LINEA ASC
	--*/	
	
	--SELECT @@TRANCOUNT--ROLLBACK
	
	/*
	--SOLO PARA PRUEBAS
	SELECT 		 
		 @FOLIO_GUIADESPACHO_ACTUAL FolioDocumento --DOC.FOLIO_DOCUMENTO FolioDocumento
		,DOC.ID_PROPIETARIO PropietarioId
		,DOC.ID_DUEÑO DuenoId
		,DOC.ID_DIRECCION DireccionId
		,DIR.CALLE + ' #' + DIR.NUMERO + ', ' + COMUNA.NOMBRE Direccion
		,DOC.Nro_Entrega NroEntrega
		,DOC.NOMBRE_DESTINATARIO NombreDestinatario
		--DETALLE
		,DET.NRO_LINEA Linea
		,DET.DESCRIPTOR Descriptor
		,DET.COD_ITEM Sku
		,CAST(DET.CANTIDAD AS NUMERIC(18, 0)) Cantidad
		,DET.PRECIO Precio
		,DOC.RUT_DESTINATARIO
		,PROVINCIA.NOMBRE PROVINCIA
		,@NOMBRE_DESPACHADOR ResponsableEnvio
		,@LISTA_DUENOS_NOMBRE Dueno		
	FROM Inventario_Cabecera_Documentos DOC
		INNER JOIN Adm_System_Holding DESTINO
			ON DOC.ID_CLISUC = DESTINO.ID_HOLDING AND DOC.ID_ORG = DESTINO.ID_ORG --AND DESTINO.ESPROPIETARIO = 0		
		INNER JOIN Adm_System_Direcciones DIR
			ON DESTINO.Id_Direccion = DIR.ID_DIRECCION
		INNER JOIN Adm_System_Comunas COMUNA
			ON DIR.ID_COMUNA = COMUNA.ID_COMUNA
		INNER JOIN Adm_System_Provincias PROVINCIA
			ON COMUNA.ID_PROVINCIA = PROVINCIA.ID_PROVINCIA	
		INNER JOIN 	
	(SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
	UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 	
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL
		UNION ALL				
	SELECT * 
	FROM Inventario_DETALLE_Documentos 
	WHERE FOLIO_DOCUMENTO = @FOLIO_GUIADESPACHO_ACTUAL) DET
			ON DOC.FOLIO_DOCUMENTO = DET.FOLIO_DOCUMENTO AND DOC.ID_ORG = DET.ID_ORG
	WHERE DOC.NRO_ENTREGA = @NRO_ENTREGA
		AND DOC.ID_DOCU = @ID_DOCU
		AND DOC.FECHA_SOLICITUD >= @FECHA_TRANSACCION		
	ORDER BY DET.NRO_LINEA ASC
	--*/
	
	--SELECT @@TRANCOUNT--ROLLBACK
	
	
	

	
/*
	SELECT * FROM Inventario_Cabecera_Pedidos WHERE ID_NROPEDIDO = 3
	
	SELECT * FROM Inventario_Cabecera_Documentos WHERE FOLIO_DOCUMENTO = 304
	
	SELECT * FROM Inventario_DETALLE_Documentos WHERE FOLIO_DOCUMENTO = 304
	
	SELECT * FROM INVENTARIO_ITEMS
	
	SELECT * FROM Inventario_Detalle_Trx_Pedidos WHERE Nro_Entrega = 11
*/
	
	/*
	SELECT O.name TABLA, C.NAME CAMPO
	FROM SYS.all_columns C
		INNER JOIN SYS.all_objects O
			ON C.object_id = O.object_id
	WHERE C.name LIKE '%Nro_Entrega%'
	*/
	
END TRY
BEGIN CATCH
	
	/* Hay un error, deshacemos los cambios*/ 
	ROLLBACK TRANSACTION -- O solo ROLLBACK
	
	DECLARE @MENSAJEERROR VARCHAR(MAX) = ERROR_MESSAGE();
	DECLARE @SEVERIDADERROR BIGINT = ERROR_SEVERITY();
	DECLARE @ESTADOERROR BIGINT = ERROR_STATE();
	DECLARE @LINEAERROR VARCHAR(5) = CAST(ERROR_LINE() AS VARCHAR(5));
	DECLARE @ERRORMENSAJE VARCHAR(MAX);
	SET @ERRORMENSAJE = (@LINEAERROR + ' - ' + @MENSAJEERROR);
	
     RAISERROR (@ERRORMENSAJE, @SEVERIDADERROR, @ESTADOERROR)
				 
     --PRINT ERROR_SEVERITY()    
     --PRINT ERROR_STATE()  
     --PRINT ERROR_PROCEDURE()   
     --PRINT ERROR_LINE()   
     --PRINT ERROR_MESSAGE() 
	
END CATCH

	
END
GO
