USE [iwmscl_testwms2]
GO
/****** Object:  StoredProcedure [dbo].[INV_ENVIOPRODUCTOS_LISTAR]    Script Date: 20-07-2020 11:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INV_ENVIOPRODUCTOS_LISTAR]
	-- Add the parameters for the stored procedure here
	 @FOLIO_DOCUMENTO NUMERIC(18, 0)
	,@ID_NROPEDIDO NUMERIC(18, 0)
	,@ID_ORG NUMERIC(18, 0)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DISTINCT
		 CAB_PED.FOLIO_DOCUMENTO
		,CAB_PED.ID_NROPEDIDO
		,CAB_DOC.Id_Propietario
		,PROP.NOMBRE PROPIETARIO
		,CAB_DOC.Id_Dueño DUENO_ID
		,CONTACTO.NOMBRES + ' ' + CONTACTO.APELLIDO_PATERNO + ' ' + CONTACTO.APELLIDO_MATERNO DUENO
		,DIR.Id_Direccion
		,DIR.CALLE + ' #' + DIR.NUMERO + ', ' + COMUNA.NOMBRE DIRECCION -- + ' ' + PROVINCIA.NOMBRE 
		,DESTINO.NOMBRE NOMBRE_DESTINATARIO
		,ISNULL(DET_TRX.NRO_ENTREGA, 0) NRO_ENTREGA
		,DET_TRX.COD_ESTADO_LINEA
		,EST_LIN.NOMBRE_ESTADO_LINEA 
		,DET_TRX.NOMB_SGTE_ESTADO
		,DET_TRX.NRO_LINEA
		,DET_TRX.NRO_SUBLINEA
		,DET_TRX.COD_ITEM
		,PRODUCTO.DESCRIPTOR_CORTA
		,LOTE.ID_LOTE
		,LOTE.LOTE_PROVEEDOR
		,ISNULL(Convert(varchar(10),CONVERT(date,LOTE.FECHA_EXPIRA,106),103), '') FECHA_EXPIRA
		,DET_TRX.Cant_Pedida			
		,DET_TRX.Cant_Pendiente
		,DET_TRX.Cant_Pickeada
		,DET_TRX.Cant_Despacho
		,PRODUCTO.PRECIO_COMPRA
		--,SUBINV.ID_SUBINV SUBINV_ID
		--,SUBINV.DESCRIPCION SUBINV
		--,DET_TRX.ID_LOCALIZADOR_ORIGEN ID_LOCALIZADOR_ORIGEN
		--,LOC.COMBINACION_LOCALIZADOR LOCALIZADOR_ORIGEN
		,60 SUBINV_ID
		,'1-STAGE' SUBINV
		,(SELECT ID_LOCALIZADOR FROM Inventario_SubInv_Localizadores WHERE ID_SUBINV = 60) ID_LOCALIZADOR_ORIGEN
		,'' LOCALIZADOR_ORIGEN		
		,'' SUBINV_DESTINO
		,USU.NOMBRE_USRO 
	FROM Inventario_Cabecera_Documentos CAB_DOC
		INNER JOIN Inventario_Cabecera_Pedidos CAB_PED
			ON CAB_DOC.Folio_Documento = CAB_PED.FOLIO_DOCUMENTO AND CAB_DOC.Id_Org = CAB_PED.ID_ORG
		INNER JOIN Adm_System_Holding PROP
			ON CAB_DOC.Id_Propietario = PROP.ID_HOLDING AND PROP.ESPROPIETARIO = 1 AND CAB_DOC.ID_ORG = PROP.ID_ORG
		INNER JOIN Adm_System_Dueños DUENO
			ON CAB_DOC.Id_Dueño = DUENO.ID_DUEÑO AND CAB_DOC.Id_Org = DUENO.ID_ORG
		INNER JOIN Adm_System_Contactos CONTACTO
			ON DUENO.ID_CONTACTO = CONTACTO.ID_CONTACTO AND DUENO.ID_ORG = CONTACTO.ID_ORG
		INNER JOIN Inventario_Detalle_Trx_Pedidos DET_TRX
			ON CAB_PED.ID_NROPEDIDO = DET_TRX.ID_NROPEDIDO AND CAB_PED.ID_ORG = DET_TRX.ID_ORG
		INNER JOIN Inventario_Estado_Linea_Pedidos EST_LIN
			ON DET_TRX.COD_ESTADO_LINEA = EST_LIN.COD_ESTADO_LINEA 
		INNER JOIN INVENTARIO_ITEMS PRODUCTO
			ON DET_TRX.COD_ITEM = PRODUCTO.COD_ITEM AND DET_TRX.ID_ORG = PRODUCTO.ID_ORG
		INNER JOIN INVENTARIO_LOTES LOTE
			ON DET_TRX.ID_LOTE = LOTE.ID_LOTE AND DET_TRX.ID_ORG = LOTE.ID_ORG
		INNER JOIN Adm_System_Usuarios USU
			ON DET_TRX.ID_USRO_ACT = USU.ID_USRO AND DET_TRX.ID_ORG = USU.ID_ORG
		INNER JOIN Inventario_SubInv_Localizadores LOC
			ON DET_TRX.ID_LOCALIZADOR_ORIGEN = LOC.ID_LOCALIZADOR AND DET_TRX.ID_ORG = LOC.ID_ORG
		INNER JOIN Inventario_SubInventarios SUBINV
			ON LOC.ID_SUBINV = SUBINV.ID_SUBINV		
		INNER JOIN Adm_System_Holding DESTINO
			ON CAB_DOC.ID_CLISUC = DESTINO.ID_HOLDING AND CAB_DOC.ID_ORG = DESTINO.ID_ORG --AND DESTINO.ESPROPIETARIO = 0
		INNER JOIN Adm_System_Direcciones DIR
			ON DESTINO.Id_Direccion = DIR.ID_DIRECCION
		INNER JOIN Adm_System_Comunas COMUNA
			ON DIR.ID_COMUNA = COMUNA.ID_COMUNA
		INNER JOIN Adm_System_Provincias PROVINCIA
			ON COMUNA.ID_PROVINCIA = PROVINCIA.ID_PROVINCIA	
	WHERE CAB_DOC.Folio_Documento = @FOLIO_DOCUMENTO
		AND CAB_PED.ID_NROPEDIDO = @ID_NROPEDIDO
		AND CAB_DOC.Id_Docu = 20
		AND CAB_DOC.Id_Org = @ID_ORG
		AND CAB_DOC.Vigencia = 'S'
		AND CAB_PED.VIGENCIA = 'S'
		AND PROP.VIGENCIA = 'S'
		AND DUENO.VIGENCIA = 'S'
		AND CONTACTO.VIGENCIA = 'S'
		AND PRODUCTO.VIGENCIA = 'S'
		AND DESTINO.VIGENCIA = 'S'
		AND DET_TRX.cod_estado_linea <> 100
	
	
		
	
	/*
	SELECT * FROM Inventario_Cabecera_Documentos WHERE Folio_Documento = 304
	SELECT * FROM Inventario_Cabecera_Pedidos
	SELECT * FROM Adm_System_Holding
	SELECT * FROM Adm_System_Dueños
	SELECT * FROM dbo.Adm_System_Contactos	
	SELECT * FROM dbo.Adm_System_Direcciones
	SELECT * FROM dbo.Adm_System_Comunas
	SELECT * FROM dbo.Adm_System_Provincias
	SELECT * FROM Inventario_Detalle_Trx_Pedidos	
	SELECT * FROM Inventario_Estado_Linea_Pedidos	
	SELECT * FROM INVENTARIO_ITEMS
	SELECT * FROM INVENTARIO_LOTES
	
	SELECT * FROM Adm_System_Usuarios

	SELECT * FROM 
	
	SELECT * FROM 
	
	*/
	
	/*
	
	SELECT 
		 CAB_DOC.Id_Propietario
		,PROP.NOMBRE PROPIETARIO
		,CAB_DOC.Id_Dueño DUENO_ID
		,CONTACTO.NOMBRES + ' ' + CONTACTO.APELLIDO_PATERNO + ' ' + CONTACTO.APELLIDO_MATERNO DUENO
		,CAB_DOC.Id_Direccion
		,DIR.CALLE + ' #' + DIR.NUMERO + ', ' + COMUNA.NOMBRE DIRECCION -- + ' ' + PROVINCIA.NOMBRE 
		,'NOMBRE_DESTINATARIO' NOMBRE_DESTINATARIO
		,ISNULL(CAB_DOC.NRO_ENTREGA, 0) NRO_ENTREGA
		,DET_TRX.COD_ESTADO_LINEA
		,EST_LIN.NOMBRE_ESTADO_LINEA 
		,DET_TRX.NOMB_SGTE_ESTADO
		,DET_TRX.NRO_LINEA
		,DET_TRX.NRO_SUBLINEA
		,DET_TRX.COD_ITEM
		,PRODUCTO.DESCRIPTOR_CORTA
		,LOTE.ID_LOTE
		,LOTE.LOTE_PROVEEDOR
		,ISNULL(Convert(varchar(10),CONVERT(date,LOTE.FECHA_EXPIRA,106),103), '') FECHA_EXPIRA
		,DET_TRX.Cant_Pedida			
		,DET_TRX.Cant_Pendiente
		,DET_TRX.Cant_Pickeada
		,DET_TRX.Cant_Despacho
		,PRODUCTO.PRECIO_COMPRA
		,60 SUBINV_ID
		,'1-STAGE' SUBINV
		,DET_TRX.ID_LOCALIZADOR_DESTINO ID_LOCALIZADOR_ORIGEN
		,'' LOCALIZADOR_ORIGEN
		,'' SUBINV_DESTINO
		,USU.NOMBRE_USRO 
	FROM Inventario_Cabecera_Documentos CAB_DOC
		INNER JOIN Inventario_Cabecera_Pedidos CAB_PED
			ON CAB_DOC.Folio_Documento = CAB_PED.FOLIO_DOCUMENTO AND CAB_DOC.Id_Org = CAB_PED.ID_ORG
		INNER JOIN Adm_System_Holding PROP
			ON CAB_DOC.Id_Propietario = PROP.ID_HOLDING AND PROP.ESPROPIETARIO = 1 AND CAB_DOC.ID_ORG = PROP.ID_ORG
		INNER JOIN Adm_System_Dueños DUENO
			ON CAB_DOC.Id_Dueño = DUENO.ID_DUEÑO AND CAB_DOC.Id_Org = DUENO.ID_ORG
		INNER JOIN Adm_System_Contactos CONTACTO
			ON DUENO.ID_CONTACTO = CONTACTO.ID_CONTACTO AND DUENO.ID_ORG = CONTACTO.ID_ORG
		INNER JOIN Adm_System_Direcciones DIR
			ON CAB_DOC.Id_Direccion = DIR.ID_DIRECCION
		INNER JOIN Adm_System_Comunas COMUNA
			ON DIR.ID_COMUNA = COMUNA.ID_COMUNA
		INNER JOIN Adm_System_Provincias PROVINCIA
			ON COMUNA.ID_PROVINCIA = PROVINCIA.ID_PROVINCIA
		INNER JOIN Inventario_Detalle_Trx_Pedidos DET_TRX
			ON CAB_PED.ID_NROPEDIDO = DET_TRX.ID_NROPEDIDO AND CAB_PED.ID_ORG = DET_TRX.ID_ORG
		INNER JOIN Inventario_Estado_Linea_Pedidos EST_LIN
			ON DET_TRX.COD_ESTADO_LINEA = EST_LIN.COD_ESTADO_LINEA 
		INNER JOIN INVENTARIO_ITEMS PRODUCTO
			ON DET_TRX.COD_ITEM = PRODUCTO.COD_ITEM AND DET_TRX.ID_ORG = PRODUCTO.ID_ORG
		INNER JOIN INVENTARIO_LOTES LOTE
			ON DET_TRX.ID_LOTE = LOTE.ID_LOTE AND DET_TRX.ID_ORG = LOTE.ID_ORG
		INNER JOIN Adm_System_Usuarios USU
			ON DET_TRX.ID_USRO_ACT = USU.ID_USRO AND DET_TRX.ID_ORG = USU.ID_ORG
	WHERE CAB_DOC.Folio_Documento = 304
		AND CAB_PED.ID_NROPEDIDO = 21
		AND CAB_DOC.Id_Docu = 20
		AND CAB_DOC.Id_Org = 17
		AND CAB_DOC.Vigencia = 'S'
		AND CAB_PED.VIGENCIA = 'S'
		AND PROP.VIGENCIA = 'S'
		AND DUENO.VIGENCIA = 'S'
		AND CONTACTO.VIGENCIA = 'S'
		AND PRODUCTO.VIGENCIA = 'S'	
	
	
	
	
	*/
	









END

GO
