USE [iwmscl_testwms2]
GO
/****** Object:  StoredProcedure [dbo].[ADM_AsigGrpAprob_UPDATE]    Script Date: 20-07-2020 11:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADM_AsigGrpAprob_UPDATE]
@ID_Grupo  numeric,
@ID_Holding_Propietario  numeric,
@ID_Dueno  numeric,
@ID_Org  numeric,
@ID_Usro_Act  numeric,
@Vigencia  varchar(1)
AS
SET NOCOUNT ON;
BEGIN
---  MODIFICA REGISTRO EXISTENTE ---
UPDATE Adm_System_Asignacion_Grupo_Aprobacion
SET 
ID_Grupo =  @ID_Grupo,
ID_Holding_Propietario  =@ID_Holding_Propietario,
ID_Dueño  =@ID_Dueno,
ID_Org  =@ID_Org,
ID_Usro_Act  =@ID_Usro_Act,
Vigencia  =@Vigencia,
Fech_Actualiza = GETDATE()
WHERE

ID_Grupo =  @ID_Grupo
AND ID_Holding_Propietario = @ID_Holding_Propietario 
AND ID_Dueño = @ID_Dueno  
AND ID_Org = @ID_Org  

--- RETORNO FILAS AFECTADAS ---
SELECT @@ROWCOUNT FILAS_AFECTADAS

END


GO
