USE [iwmscl_prodwms]
GO
/****** Object:  StoredProcedure [dbo].[INV_MATERIAL_TRANSACCIONES]    Script Date: 19-08-2020 16:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INV_MATERIAL_TRANSACCIONES]
	-- Add the parameters for the stored procedure here
--DECLARE
	 @FECHA_INI VARCHAR(10)
	,@FECHA_FIN VARCHAR(10) 
	,@ID_LOTE1 VARCHAR(50) 
	,@ID_LOTE2 VARCHAR(50)
	,@COD_ITEM1 NUMERIC(18, 0)
	,@COD_ITEM2 NUMERIC(18, 0)	
	,@ID_ORG NUMERIC(18, 0)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	--SET @@FECHA_INI =  = '10/05/2017'
	--SET @@FECHA_FIN =  = '30/05/2017'
	--SET @ID_LOTE1 = '201705000010'
	--SET @ID_LOTE2 = '201705000033'
	--SET @COD_ITEM1 = 53150
	--SET @COD_ITEM2 = 53150
	--SET @ID_ORG = 17	
	
	
	DECLARE 
		 @VAR_FECHAS VARCHAR(200) = ''
		,@VAR_IDLOTE VARCHAR(400) = ''
		,@VAR_CODITEM VARCHAR(100) = ''
		,@VAR_IDORG VARCHAR(100) = ''
		,@STR_QUERY VARCHAR(MAX)
	
	IF @FECHA_INI <> '' AND @FECHA_FIN <> '' BEGIN
		--SET @VAR_FECHAS = ' AND SUBINV.ID_SUBINV = ' + CAST(@SUBINV AS VARCHAR(100))
		SET @VAR_FECHAS = ' AND KARDEX.FECHA_TRX BETWEEN CONVERT(DATE, ''' + @FECHA_INI + ''',103) AND CONVERT(DATE, ''' + @FECHA_FIN + ''',103)'
	END 

	IF @ID_LOTE1 <> '' AND @ID_LOTE2 <> '' BEGIN
		PRINT 'FILTROS LOTE'
		SET @VAR_IDLOTE = ' AND LOTE.ID_LOTE BETWEEN ''' + CAST(@ID_LOTE1 AS VARCHAR(100)) + ''' AND ''' + CAST(@ID_LOTE2 AS VARCHAR(100)) + ''''
	END 
	
	IF @COD_ITEM1 > 0 AND @COD_ITEM2 > 0 BEGIN
		PRINT 'FILTROS SKU'
		SET @VAR_CODITEM = ' AND LOTE.COD_ITEM BETWEEN ' + CAST(@COD_ITEM1 AS VARCHAR(100)) + ' AND ' + CAST(@COD_ITEM2 AS VARCHAR(100)) 
	END 				
	
	IF @ID_ORG > 0 BEGIN
		SET @VAR_IDORG = CAST(@ID_ORG AS VARCHAR(25))
	END 	
	
	PRINT @VAR_FECHAS
	
	SET @STR_QUERY = 'SELECT ID_TRX ID
		,ISNULL(CONVERT(VARCHAR(10),CONVERT(DATE,KARDEX.FECHA_TRX,106),103), '''') FechaTransaccion 
		,'''' Propietario
		,'''' Dueno	
		,PROD.COD_ITEM ProductoId
		,PROD.DESCRIPTOR_CORTA Descriptor
		,LOTE.ID_LOTE Lote	
		,LOTE.LOTE_PROVEEDOR LoteProveedor	
		,ISNULL(CONVERT(VARCHAR(10),CONVERT(DATE,LOTE.Fecha_Expira,106),103), '''') FechaVencimiento
		,KARDEX.CANTIDAD_TRX CantidadTrx	
		,KARDEX.UNIDAD_MEDIDA UnidadMedida
		,KARDEX.PRECIO_COMPRA Precio
		,KARDEX.ORIGEN_TRX OrigenTrx
		,KARDEX.DOCUMENTO Documento
		,KARDEX.RAZON_SOCIAL RazonSocial
		,KARDEX.COD_SUBINV_ORIGEN SubInvOrigen
		,KARDEX.LOCALIZADOR_ORIGEN LocalizadorOrigen
		,KARDEX.COD_SUBINV_DESTINO SubInvDestino
		,KARDEX.LOCALIZADOR_DESTINO LocalizadorDestino
		,CAB_DOC.FOLIO_DOCUMENTO FolioDocumento	
		,DET_PED.ID_NROPEDIDO NumeroPedido
	FROM Inventario_LOTES LOTE
		INNER JOIN Inventario_Items PROD
			ON LOTE.COD_ITEM = PROD.COD_ITEM AND LOTE.ID_ORG = PROD.ID_ORG
		INNER JOIN Inventario_Unidad_Medida_Primaria UM
			ON PROD.ID_UM = UM.ID_UM 
		INNER JOIN INVENTARIO_DETALLE_TRANSACCIONES KARDEX
			ON LOTE.COD_ITEM = KARDEX.COD_ITEM AND LOTE.ID_LOTE = KARDEX.ID_LOTE AND LOTE.ID_ORG = KARDEX.ID_ORG
		LEFT JOIN INVENTARIO_DETALLE_TRX_PEDIDOS DET_PED
			ON KARDEX.COD_ITEM = DET_PED.COD_ITEM AND KARDEX.ID_LOTE = DET_PED.ID_LOTE AND KARDEX.ID_ORIGEN_TRX = DET_PED.ID_TRX_PEDIDO AND KARDEX.ID_ORG = DET_PED.ID_ORG
		LEFT JOIN INVENTARIO_CABECERA_PEDIDOS CAB_PED
			ON DET_PED.ID_NROPEDIDO = CAB_PED.ID_NROPEDIDO AND DET_PED.ID_ORG = CAB_PED.ID_ORG
		LEFT JOIN INVENTARIO_CABECERA_DOCUMENTOS CAB_DOC
			ON CAB_PED.FOLIO_DOCUMENTO = CAB_DOC.FOLIO_DOCUMENTO AND CAB_PED.ID_ORG = CAB_DOC.ID_ORG AND CAB_DOC.ID_DOCU = 20 
	WHERE KARDEX.ORIGEN_TRX  != ''INVENTARIO'' and LOTE.ID_ORG = ' + @VAR_IDORG + 
		+ @VAR_FECHAS
		+ @VAR_IDLOTE
		+ @VAR_CODITEM
	+ '
    ORDER BY ID_TRX asc ';
	
	--PRINT @STR_QUERY;
	
    -- Insert statements for procedure here
	EXEC (@STR_QUERY);
	
	
	
	
	
	
	/*
	SELECT * FROM Inventario_Stock_Lotes
	
	SELECT * FROM Inventario_SubInv_Localizadores
	
	SELECT * FROM Inventario_LOTES
	
	SELECT * FROM Inventario_Items
	
	SELECT * FROM Inventario_Items_Prop_Dueños
	
	SELECT * FROM Adm_System_Dueños
	
	SELECT * FROM Adm_System_Contactos
	
	SELECT * FROM dbo.Adm_System_Holding
	
	SELECT * FROM INVENTARIO_SUBINVENTARIOS
	
	SELECT * FROM Inventario_Unidad_Medida_Primaria
	
	*/
	
	/*
SELECT ID_TRX ID
		,ISNULL(CONVERT(VARCHAR(10),CONVERT(DATE,KARDEX.FECHA_TRX,106),103), '''') FechaTransaccion 
		,PROP.NOMBRE Propietario
		,CONTACTO.NOMBRES + '' '' + APELLIDO_PATERNO + '' '' + APELLIDO_MATERNO Dueno	
		,PROD.COD_ITEM ProductoId
		,PROD.DESCRIPTOR_CORTA Descriptor
		,LOTE.ID_LOTE Lote	
		,LOTE.LOTE_PROVEEDOR LoteProveedor	
		,ISNULL(CONVERT(VARCHAR(10),CONVERT(DATE,LOTE.Fecha_Expira,106),103), '''') FechaVencimiento
		,KARDEX.CANTIDAD_TRX CantidadTrx	
		,KARDEX.UNIDAD_MEDIDA UnidadMedida
		,KARDEX.PRECIO_COMPRA Precio
		,KARDEX.ORIGEN_TRX OrigenTrx
		,KARDEX.DOCUMENTO Documento
		,KARDEX.RAZON_SOCIAL RazonSocial
		,KARDEX.COD_SUBINV_ORIGEN SubInvOrigen
		,KARDEX.LOCALIZADOR_ORIGEN LocalizadorOrigen
		,KARDEX.COD_SUBINV_DESTINO SubInvDestino
		,KARDEX.LOCALIZADOR_DESTINO LocalizadorDestino
		,CAB_DOC.FOLIO_DOCUMENTO FolioDocumento	
		,DET_PED.ID_NROPEDIDO NumeroPedido
	FROM Inventario_LOTES LOTE
		INNER JOIN Inventario_Items PROD
			ON LOTE.COD_ITEM = PROD.COD_ITEM AND LOTE.ID_ORG = PROD.ID_ORG
		INNER JOIN Inventario_Unidad_Medida_Primaria UM
			ON PROD.ID_UM = UM.ID_UM 
		--INNER JOIN Inventario_Items_Prop_Dueños PROPDUENO
		--	ON PROD.COD_ITEM = PROPDUENO.COD_ITEM AND PROD.ID_ORG = PROPDUENO.ID_ORG
		--INNER JOIN Adm_System_Holding PROP
		--	ON PROPDUENO.ID_PROPIETARIO = PROP.ID_HOLDING AND PROPDUENO.ID_ORG = PROP.ID_ORG AND ESPROPIETARIO = 1
		--INNER JOIN Adm_System_Dueños DUENO
		--	ON PROPDUENO.ID_DUEÑO = DUENO.ID_DUEÑO AND PROPDUENO.ID_ORG = DUENO.ID_ORG
		--INNER JOIN Adm_System_Contactos CONTACTO
		--	ON DUENO.ID_CONTACTO = CONTACTO.ID_CONTACTO AND DUENO.ID_ORG = CONTACTO.ID_ORG
		INNER JOIN INVENTARIO_DETALLE_TRANSACCIONES KARDEX
			ON LOTE.COD_ITEM = KARDEX.COD_ITEM AND LOTE.ID_LOTE = KARDEX.ID_LOTE AND LOTE.ID_ORG = KARDEX.ID_ORG
		LEFT JOIN INVENTARIO_DETALLE_TRX_PEDIDOS DET_PED
			ON KARDEX.COD_ITEM = DET_PED.COD_ITEM AND KARDEX.ID_LOTE = DET_PED.ID_LOTE AND KARDEX.ID_ORIGEN_TRX = DET_PED.ID_TRX_PEDIDO AND KARDEX.ID_ORG = DET_PED.ID_ORG
		LEFT JOIN INVENTARIO_CABECERA_PEDIDOS CAB_PED
			ON DET_PED.ID_NROPEDIDO = CAB_PED.ID_NROPEDIDO AND DET_PED.ID_ORG = CAB_PED.ID_ORG
		LEFT JOIN INVENTARIO_CABECERA_DOCUMENTOS CAB_DOC
			ON CAB_PED.FOLIO_DOCUMENTO = CAB_DOC.FOLIO_DOCUMENTO AND CAB_PED.ID_ORG = CAB_DOC.ID_ORG AND CAB_DOC.ID_DOCU = 20	
	*/
	
END
GO
