USE [iwmscl_prodwms]
GO
/****** Object:  StoredProcedure [dbo].[INV_PRODUCTO_VERPROPDUENO]    Script Date: 19-08-2020 16:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INV_PRODUCTO_VERPROPDUENO]
	-- Add the parameters for the stored procedure here
	 @COD_ITEM NUMERIC(18, 0)
	,@ID_ORG NUMERIC(18, 0)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT 
			PROP.NOMBRE Propietario
			,CONTACTO.NOMBRES + ' ' + APELLIDO_PATERNO Dueno
			,SUM(STOCK.EN_MANO) EN_MANO
			,SUM(STOCK.DISPONIBLE) DISPONIBLE
			,SUM(STOCK.RESERVA) RESERVA
		FROM Inventario_Items PROD
		INNER JOIN Inventario_Items_Prop_Dueños PROPDUENO
			ON PROD.COD_ITEM = PROPDUENO.COD_ITEM AND PROD.ID_ORG = PROPDUENO.ID_ORG		
		INNER JOIN Adm_System_Holding PROP
			ON PROPDUENO.ID_PROPIETARIO = PROP.ID_HOLDING AND PROPDUENO.ID_ORG = PROP.ID_ORG AND ESPROPIETARIO = 1
		INNER JOIN Adm_System_Dueños DUENO
			ON PROPDUENO.ID_DUEÑO = DUENO.ID_DUEÑO AND PROPDUENO.ID_ORG = DUENO.ID_ORG
		INNER JOIN Adm_System_Contactos CONTACTO
			ON DUENO.ID_CONTACTO = CONTACTO.ID_CONTACTO AND DUENO.ID_ORG = CONTACTO.ID_ORG
		--INNER JOIN INVENTARIO_CABECERA_DOCUMENTOS DOC
		--	ON PROPDUENO.ID_Propietario = DOC.ID_PROPIETARIO AND PROPDUENO.ID_Dueño = DOC.ID_DUEÑO AND PROPDUENO.ID_Org = DOC.ID_ORG
		--INNER JOIN INVENTARIO_DETALLE_DOCUMENTOS DETDOC
		--	ON DOC.FOLIO_DOCUMENTO = DETDOC.FOLIO_DOCUMENTO AND DOC.ID_DOCU = DETDOC.ID_DOCU AND DOC.ID_ORG = DETDOC.ID_ORG
		INNER JOIN Inventario_Lotes LOTE
			ON PROPDUENO.ID_Dueño = LOTE.ID_Dueño AND PROPDUENO.ID_ORG = LOTE.ID_ORG AND LOTE.Cod_Item = PROD.Cod_Item
		INNER JOIN INVENTARIO_STOCK_LOTES STOCK
			ON LOTE.ID_LOTE = STOCK.ID_LOTE AND LOTE.ID_ORG = STOCK.ID_ORG
		WHERE PROD.COD_ITEM = @COD_ITEM
			AND PROD.ID_ORG = @ID_ORG
			--AND DOC.ID_DOCU = 10
		GROUP BY PROP.NOMBRE, CONTACTO.NOMBRES + ' ' + APELLIDO_PATERNO 

		/*
		SELECT * FROM Inventario_Items_Prop_Dueños WHERE ID_DUEÑO = 12
		SELECT * FROM INVENTARIO_CABECERA_DOCUMENTOS WHERE ID_DOCU = 10 
		SELECT * FROM INVENTARIO_DETALLE_DOCUMENTOS WHERE ID_DOCU = 10
		SELECT * FROM INVENTARIO_LOTES
		SELECT * FROM INVENTARIO_STOCK_LOTES
		*/

END
GO
