USE [iwmscl_prodwms]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LOC_SUGERIDO]    Script Date: 19-08-2020 16:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_LOC_SUGERIDO]
	-- Add the parameters for the stored procedure here
	@ALLVOLUMEN NUMERIC(18, 5)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	DECLARE @TABLA TABLE(RETORNO VARCHAR(250), ID_LOC NUMERIC(18, 0));
	PRINT CAST(@ALLVOLUMEN AS VARCHAR(21))
	-- Add the T-SQL statements to compute the return value here
	--SELECT <@ResultVar, sysname, @Result> = <@Param1, sysname, @p1>
		INSERT INTO @TABLA
		SELECT TOP 1
			 CAST(INV.ID_SUBINV AS VARCHAR(3)) + ';' + 
			 INV.DESCRIPCION + ';' + 
			 CAST(LOC.ID_LOCALIZADOR AS VARCHAR(5)) + ';' + 
			 LOC.Combinacion_Localizador 
			 SUGERIDO,
			 LOC.ID_LOCALIZADOR 
			--,LOC.* 
		FROM Inventario_SubInv_Localizadores LOC
			INNER JOIN Inventario_SubInventarios INV
				ON LOC.ID_SUBINV = INV.ID_SUBINV
		WHERE LOC.ID_SUBINV = 10 --FILTRO POR F-22
			AND LOC.COD_ESTADO = 1
			AND LOC.ESPACIO_UTILIZADO = 0 --SI TIENE TODO EL ESPACIO DISPONIBLE
			AND LOC.VIGENCIA = 'S'
			AND LOC.VOLUMEN >= @ALLVOLUMEN 
			AND ISNULL(LOC.SUGERIDO, 0) <> 1
		ORDER BY 
			--LOC.VOLUMEN ASC, --DEVUELVE EL MÁS COMPACTO PARA EL LOTE
			LOC.SEGMENTO1 ASC, --ORGANIZACION 
			LOC.SEGMENTO2 ASC, --ZONA
			LOC.SEGMENTO3 ASC, --SUBZONA
			LOC.SEGMENTO4 ASC, --PASILLO
			LOC.SEGMENTO5 ASC, --FILA
			LOC.SEGMENTO6 ASC; --COLUMNA

	DECLARE @CANT INT = (SELECT COUNT(1) FROM @TABLA);
	--PRINT CAST(@CANT AS VARCHAR);
	IF @CANT > 0 BEGIN				
		--ACTUALIZAMOS EL ESTADO SUGERIDO PARA QUE NO LO SUGIERA A OTRO
		UPDATE Inventario_SubInv_Localizadores
		SET SUGERIDO = 1
		WHERE ID_LOCALIZADOR = (SELECT ID_LOC FROM @TABLA);
		
		--DECLARE @RT VARCHAR(250) = (SELECT RETORNO FROM @TABLA);
		--PRINT @RT;
		SELECT RETORNO, ID_LOC FROM @TABLA		
	END ELSE BEGIN
		--ENVIA A SOBREDIMENSIONADO
		--PRINT 'SOBRE DIMENSIONADO';
		--SELECT 'Sobre Dimensionado' RETORNO, 0 ID_LOC			
		INSERT INTO @TABLA
		SELECT TOP 1
			 CAST(INV.ID_SUBINV AS VARCHAR(3)) + ';' + 
			 INV.DESCRIPCION + ';' + 
			 CAST(LOC.ID_LOCALIZADOR AS VARCHAR(5)) + ';' + 
			 LOC.Combinacion_Localizador 
			 SUGERIDO,
			 LOC.ID_LOCALIZADOR 
			--,LOC.* 
		FROM Inventario_SubInv_Localizadores LOC
			INNER JOIN Inventario_SubInventarios INV
				ON LOC.ID_SUBINV = INV.ID_SUBINV
		WHERE LOC.ID_SUBINV = 50 --FILTRO POR F-16
			AND LOC.COD_ESTADO = 1
			AND LOC.ESPACIO_UTILIZADO = 0 --SI TIENE TODO EL ESPACIO DISPONIBLE
			AND LOC.VIGENCIA = 'S'
			--AND LOC.VOLUMEN >= @ALLVOLUMEN 
			AND ISNULL(LOC.SUGERIDO, 0) <> 1
		ORDER BY 
			--LOC.VOLUMEN ASC, --DEVUELVE EL MÁS COMPACTO PARA EL LOTE
			LOC.SEGMENTO1 ASC, --ORGANIZACION 
			LOC.SEGMENTO2 ASC, --ZONA
			LOC.SEGMENTO3 ASC, --SUBZONA
			LOC.SEGMENTO4 ASC, --PASILLO
			LOC.SEGMENTO5 ASC, --FILA
			LOC.SEGMENTO6 ASC; --COLUMNA		
		
		UPDATE Inventario_SubInv_Localizadores
		SET SUGERIDO = 1
		WHERE ID_LOCALIZADOR = (SELECT ID_LOC FROM @TABLA);			
		
		SELECT RETORNO, ID_LOC FROM @TABLA		
		
	END
	
END
GO
