USE [iwmscl_testwms2]
GO
/****** Object:  StoredProcedure [dbo].[ADM_PROVEEDOR_LISTAR]    Script Date: 20-07-2020 11:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADM_PROVEEDOR_LISTAR]
	@ID_ORG NUMERIC(18, 0)

AS
SET NOCOUNT ON;

SELECT 
	hol.ID_Holding  ,
	hol.EsPropietario  ,
	hol.Fech_Creacion  ,
	hol.Fech_Actualiza  ,
	hol.ID_Org  ,
	org.Nombre as Nombre_organizacion,
	ISNULL(hol.ID_Holding_Propietario, 0) ID_Holding_Propietario,	
	hol.Nombre as holding_propi,		
	hol.ID_Direccion  ,
	D.CALLE + ' ' + '#' + D.NUMERO + ' ' + C.NOMBRE direccion,
	hol.ID_Rubro  ,
	rub.Descripcion as rubro,		
	hol.RUT    ,
	hol.Nombre ,
	hol.id_tipo_contacto,
	tico.Descripcion Tipo  ,
	hol.id_Procedencia  ,
	pro.descripcion Procedencia,
	hol.Vigencia  
	
 FROM 
 
	Adm_System_Holding  hol 	
INNER JOIN  Adm_System_Organizaciones org  ON  org.ID_Org = hol.ID_Org	  
INNER JOIN  Adm_System_Rubros rub  ON  rub.ID_Rubro = hol.ID_Rubro	  
--INNER JOIN  Adm_System_Holding hop  ON  hop.ID_Holding = hol.ID_Holding_Propietario	
INNER JOIN Adm_System_Direcciones D ON HOL.ID_DIRECCION = D.ID_DIRECCION
INNER JOIN Adm_System_Comunas C ON D.ID_COMUNA = C.ID_COMUNA
inner join Adm_System_Procedencias pro on hol.id_Procedencia = pro.id_procedencia
inner join Adm_Tipo_Contacto tico on hol.id_tipo_contacto = tico.id_tipo_contacto
	WHERE hol.EsPropietario = 0
		AND HOL.ID_TIPO_CONTACTO = 4
		AND hol.ID_Org = @ID_ORG

GO
